.message {
  padding: 4rem 2rem;

  box-shadow: 0px 2px 20px rgba(87, 87, 87, 0.2);
  margin: 1rem 0;

  .message-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 600;
      font-size: 1rem;
    }

    a {
      color: #282828;
      cursor: pointer;
      transition: color 0.4s ease;
    }

    a:hover {
      color: $red;
    }
  }

  .customer-message {
    padding: 3rem 0;

    h4 {
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.4rem;
      color: #282828;
    }
  }

  .message-footers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .del {
    display: flex;
    margin: 3rem 0 0;
    align-items: center;

    transition: color 0.4s ease;
    cursor: pointer;
    font-weight: 500;

    .ic {
      width: fit-content;
      font-size: 1.5rem;
      margin-right: 0.5rem;

      display: grid;
      place-content: center;
    }

    p {
      cursor: pointer;
    }
  }

  .del:hover {
    color: $red;
  }
}
