.product-container {
  padding: 1rem 1rem;
  margin: 0 auto;
  margin-top: 1.5rem;

  @include Pads() {
    padding: 1rem 2rem;
  }

  @include PadsPro() {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1000px;
    grid-gap: 2rem;
    align-items: center;
    margin-top: 0;
  }

  @include Laptops() {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1000px;
    grid-gap: 2rem;
    align-items: center;
    margin-top: 0;
  }

  @include HiDPI() {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1200px;
    grid-gap: 2rem;
    align-items: center;
    margin-top: 0;
  }

  .img-placeholder {
    margin: 0 auto;
    position: relative;
    width: 280px;
    height: 260px;
    // border: 1px solid red;

    @include PhonePro() {
      width: 350px;
      height: 250px;
    }

    @include Pads() {
      width: 530px;
      height: 500px;
    }

    @include PadsPro() {
      width: 500px;
      height: 470px;
    }

    @include Laptops() {
      width: 550px;
      height: 500px;
    }
    @include HiDPI() {
      width: 550px;
      height: 500px;
    }
  }

  .p-info {
    margin: 2rem auto;
    z-index: 5;
    // border: 1px solid red;

    @include PadsPro() {
      min-width: 450px;
    }

    @include Laptops() {
      margin-top: 5rem;
      margin-right: -2rem;
      min-width: 500px;
    }

    @include HiDPI() {
      margin-top: 5rem;
      margin-right: 4rem;
      min-width: 500px;
    }

    h1 {
      font-size: 1.4rem;
      font-weight: 800;
      margin-bottom: 1.5rem;
      color: $red;
      letter-spacing: -1px;
      text-transform: uppercase;

      @include Pads() {
        font-size: 2.2rem;
      }

      @include PadsPro() {
        font-size: 2.5rem;
      }

      @include Laptops() {
        font-size: 2.5rem;
      }
      @include HiDPI() {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.6);
      line-height: 20px;

      @include Pads() {
        font-size: 1rem;
      }

      @include PadsPro() {
        font-size: 1rem;
      }
      @include Laptops() {
        font-size: 1rem;
      }
      @include HiDPI() {
        font-size: 1rem;
      }
    }

    ul {
      margin: 1rem;
      margin-top: 2rem;

      li {
        font-size: 1rem;
        color: $black;
        line-height: 25px;
        margin: 0.5rem 0;
      }
    }

    button {
      background: rgba($color: $red, $alpha: 0.8);
      color: #fff;
      padding: 0.8rem 1rem;
      width: 300px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 1rem 0;
      cursor: pointer;
      border: none;
      transition: 0.5s ease;
    }

    button:hover {
      background: $red;
    }

    .delovi-product-info {
      p {
        font-size: 1rem;
      }

      h5 {
        margin: 1.5rem 0;
        font-size: 1.2rem;
      }
      h4 {
        margin: 1.5rem 0;
        font-size: 1.4rem;
        color: #282828;
        font-weight: 600;

        span {
          color: #2828289d;
          font-weight: 500;
        }
      }
    }
  }
}
