.product-container {
  padding: 1rem 1rem;
  margin: 0 auto;

  @include Laptops() {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 1000px;
  }

  @include HiDPI() {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 1200px;
  }

  .img-placeholder {
    margin: 0 auto;
    position: relative;
    width: 280px;
    height: 260px;

    @include PhonePro() {
      width: 350px;
      height: 250px;
    }

    @include Pads() {
      width: 530px;
      height: 500px;
    }

    @include PadsPro() {
      width: 530px;
      height: 500px;
    }

    @include Laptops() {
      width: 550px;
      height: 500px;
    }
    @include HiDPI() {
      width: 550px;
      height: 500px;
    }
  }

  .p-info {
    max-width: 400px;
    margin: 2rem auto;
    z-index: 5;

    @include Laptops() {
      margin-top: 5rem;
      margin-right: -2rem;
    }

    @include HiDPI() {
      margin-top: 5rem;
      margin-right: 4rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: #282828;

      @include Pads() {
        font-size: 2rem;
      }

      @include PadsPro() {
        font-size: 2.5rem;
      }

      @include Laptops() {
        font-size: 2.5rem;
      }
      @include HiDPI() {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      color: $gray;
      line-height: 1.5rem;
    }

    ul {
      margin: 1rem;

      li {
        font-size: 1rem;
        color: $gray;
        margin: 0.5rem 0;
      }
    }

    button {
      background: #282828;
      color: #fff;
      padding: 0.8rem 1rem;
      width: 100%;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 1rem;
      cursor: pointer;
      border: none;
    }
  }
}
