.cart-summary {
  width: 100%;
  h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #282828;
    margin-bottom: 1rem;
  }

  .cart-summary-ctr {
    display: flex;

    .totalno-l {
      width: 60%;

      @include Pads() {
        width: 70%;
      }

      @include PadsPro() {
        width: 70%;
      }

      @include Laptops() {
        width: 70%;
      }
      @include HiDPI() {
        width: 70%;
      }

      p {
        margin: 1rem 0;
        border-bottom: 1px solid #cecece;
        font-size: 0.9rem;
        color: #282828a4;
        font-weight: 500;
        padding: 0.5rem 0;

        @include Pads() {
          font-size: 1rem;
        }

        @include PadsPro() {
          font-size: 1rem;
        }

        @include Laptops() {
          font-size: 1rem;
        }

        @include HiDPI() {
          font-size: 1rem;
        }
      }
    }

    .totalno-r {
      p {
        margin: 1rem 0;
        border-bottom: 1px solid #cecece;
        font-size: 0.9rem;
        color: #282828;
        font-weight: 800;
        padding: 0.5rem 0;
        text-align: right;

        @include Pads() {
          font-size: 1rem;
        }

        @include PadsPro() {
          font-size: 1rem;
        }

        @include Laptops() {
          font-size: 1rem;
        }

        @include HiDPI() {
          font-size: 1rem;
        }
      }
    }
  }

  button {
    max-width: 300px;
    min-width: 200px;
    background: rgba($color: $red, $alpha: 0.8);
    text-transform: uppercase;
    color: #fff;
    padding: 0.8rem 0;
    margin: 1rem auto;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
  }

  button:hover {
    background: $red;
  }

  .to-pay {
    margin: 1rem 0;
    border-bottom: 1px solid #cecece;
    display: flex;

    h3 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
    }
  }
}
