.front-banner {
  // background: url('./../public/images/banners/main-banner.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 80vh;
  overflow: hidden;
  position: relative;
  @include Pads() {
    height: 550px;
  }

  @include PadsPro() {
    height: 550px;
  }

  @include Laptops() {
    height: 550px;
  }

  @include HiDPI() {
    height: 75vh;
  }

  .front-banner-qoute {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    color: #fff;
    padding: 2rem 1rem;

    @include PhonePro() {
      padding: 4rem 2rem;
    }

    @include Pads {
      padding: 3rem;
    }

    @include PadsPro() {
      padding: 3rem;
    }

    @include Laptops() {
      padding: 3rem 5rem;
    }

    @include HiDPI() {
      padding: 3rem 1rem;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      line-height: 28px;
      letter-spacing: -1px;
      color: rgb(235, 235, 235);

      @include PhonePro() {
        font-size: 1.8rem;
      }

      @include Pads() {
        font-size: 2.3rem;
        line-height: 48px;
        width: 300px;
      }

      @include PadsPro() {
        font-size: 2.3rem;
        line-height: 48px;
        width: 300px;
      }

      @include Laptops() {
        font-size: 2.3rem;
        line-height: 48px;
        width: 500px;
      }

      @include HiDPI() {
        font-size: 2.3rem;
        line-height: 48px;
        width: 500px;
      }
    }

    h6 {
      font-size: 1rem;
      font-weight: 200;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.75);

      @include PhonePro() {
        font-size: 1rem;
      }

      @include Pads() {
        font-size: 1.1rem;
        width: 300px;
      }

      @include PadsPro() {
        font-size: 1.1rem;
        width: 300px;
      }

      @include Laptops() {
        font-size: 1.1rem;
        width: 400px;
      }

      @include HiDPI() {
        font-size: 1.1rem;
        width: 400px;
      }
    }
  }
}
