.offer {
  margin-top: 2rem;
  .offer-header {
    margin: 1rem auto;
    text-align: center;

    h3 {
      font-size: 1.17rem;
      text-transform: uppercase;
      color: #282828;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.82rem;
      padding: 0 0.8rem;
      color: #282828;
    }
  }

  .carousel-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .card-wrapper {
      margin: 2rem auto;

      .card-img {
        background: #cecece;
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }

      .card-info {
        margin: 0 auto;

        text-align: center;

        h5 {
          font-size: 0.9rem;
          margin: 0.5rem 0;
        }

        p {
          font-size: 0.7rem;
          margin: 0.5rem 0;
        }

        a {
          color: $red;
          border: 0.5px solid $red;
          padding: 0.7rem 2rem;
          margin-top: 0.5rem;
          display: inline-block;
          font-size: 0.9rem;
          transition: all linear 0.4s;
          cursor: pointer;
        }

        a:hover {
          color: #fff;
          background: $red;
        }
      }
    }
  }
}
