.logo {
  height: 29px;
  width: 130px;
  outline: none;
  margin: 1rem auto;
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  position: relative;
  display: none;

  @include PhonePro() {
    width: 150px;
    height: 39px;
  }

  @include Pads() {
    width: 150px;
    height: 39px;
  }

  @include PadsPro {
    height: 60px;
    width: 250px;
    display: block;
  }

  @include Laptops {
    height: 70px;
    width: 300px;
    display: block;
  }

  @include HiDPI {
    height: 70px;
    width: 300px;
    display: block;
  }
}

.product-logo {
  position: absolute;
  width: 130px;
  height: 30px;
  top: -0.7rem;
  left: 0;
  right: 0;
}
