.sec-logo {
  background: url('./../public/images/jugometal-logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 29px;
  width: 130px;
  outline: none;
  margin: 1rem 0;
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  display: none;

  @include PhonePro() {
    width: 150px;
    height: 39px;
  }

  @include Pads() {
    width: 150px;
    height: 39px;
  }

  @include PadsPro {
    height: 60px;
    width: 250px;
    display: block;
  }

  @include Laptops {
    height: 70px;
    width: 300px;
    display: block;
  }

  @include HiDPI {
    height: 70px;
    width: 300px;
    display: block;
  }
}
