.o-nama {
  padding: 2rem;
  width: 100%;

  @include PadsPro {
    width: 800px;
    padding-bottom: 3rem;
  }

  @include Laptops {
    width: 800px;
    padding-bottom: 3rem;
  }

  @include HiDPI() {
    width: 900px;
    padding-bottom: 3rem;
  }

  h1 {
    color: $red;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
  }

  .content {
    line-height: 1.6;
    color: $font;

    .jugo-title {
      color: $gray;
      font-weight: 600;
    }

    .traktori-title {
      color: $gray;
      font-weight: 500;
    }

    .underline {
      text-decoration: underline;
      font-weight: 500;
      color: $gray;
    }
  }

  p {
    padding: 1rem;
  }

  strong {
    font-weight: 600;
  }

  ul {
    padding: 0 2rem;

    text-align: left;
    li {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.4);

      @include Laptops() {
        font-size: 1rem;
      }

      @include HiDPI() {
        font-size: 1rem;
      }

      span {
        color: $black;
        font-weight: 500;
      }
    }
  }

  .social {
    display: flex;
    padding: 2rem 1rem;

    text-align: center;

    font-size: 1rem;
    align-items: center;

    .facebook {
      padding-left: 0;
      font-size: 1rem;
    }

    a {
      border-right: 1px solid $cat-color;
      padding: 0 1rem;
      color: $red;
      transition: color 0.4s linear;
      cursor: pointer;
    }

    a:nth-child(3) {
      border-right: none;
    }
  }
}
