@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './mediaquerries';
@import './colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.2;
}

body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.app-wrapper {
  position: relative;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

// li {
//   list-style: none;
// }

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  cursor: default;
}

input,
textarea,
button,
select,
a,
.sm-i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import './../components/Nav/Large/large';
@import './../components/Nav/Small/small';

@import './../components/Menus/AddToCartSide/addtocartside';
@import './../components/Menus/Search/search';
@import './../components/Menus/SideCart/sidecart';
@import './../components/Menus/SideMenu/sidemenu';
@import './../components/Menus/TopCart/topcart';

@import './../components/Banners/HomeBanner/homebanner';
@import './../components/Logo/logo';

@import './../components/Moto/LandingMoto/landingmoto';
@import './../components/FrontCategories/frontcategories';
@import './../components/Featured/featured';
@import './../components/Footer/footer';
@import './../components/Banners/PageBanner/pagebanner';

@import './../components/Form/form';
@import './../components/Box/box';
@import './../components/ProuductBox/productbox';
@import './../components/ContactForm/contactform';
@import './../components/Backdrop/backdrop';
@import './../components/AddForm/addform';
@import './../components/Message/message';
@import './../components/Quote/qoute';
@import './../components/Menus/DMenu/dmenu';
// Pages
@import './../pages/servis/servis';
@import './../pages/finansiranje/finance';
@import './../pages/o-nama/onama';
@import './../pages/[category]/category';
@import './../pages/[category]/[products]/products';
@import './../pages/[category]/[products]/[product]/product';
@import './../pages/search/search';
@import './../pages/admin/admin';
