.t-c-dropback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 10;
  background-color: rgba(139, 139, 139, 0.4);

  @include Laptops() {
    display: none;
  }

  @include HiDPI() {
    display: none;
  }
}

.top-c {
  z-index: 25;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: rgb(251, 251, 251);
  width: 100%;
  display: grid;
  place-content: center;

  .top-c-content {
    width: 300px;
    margin: 1rem auto;

    h4 {
      font-size: 1.3rem;
      text-align: center;

      // cursor: not-allowed;
    }

    h5 {
      text-align: center;
      font-size: 1rem;
      margin: 1rem 0;
    }

    button {
      width: 250px;
      background: rgba($color: $red, $alpha: 0.8);
      text-transform: uppercase;
      color: #fff;
      padding: 0.8rem 0;
      margin: 0.2rem auto;
      display: block;
      font-size: 0.8rem;
      border: none;
      cursor: pointer;
      transition: 0.5s ease;
    }

    .black:hover {
      background: $red;
    }

    .white {
      color: #282828;
      background: transparent;
      transition: 0.5s ease;
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: none;
    }

    .white:hover {
      color: #000;
    }
  }
}
